/*font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Quicksand', sans-serif;*/

:root {
    --primary-color: #5E013F;
    --secondary-color: #D3ABC6;
    --objects-color:  #F4F3F3;
    --primary-font-family: 'Playfair Display', serif;
    --secondary-font-family: 'Quicksand', sans-serif;
    --third-font-family:'Poppins', sans-serif;
}

body {background-color: var(--primary-color) !important;}

.navbar-style {
    background-color: var(--objects-color);
    opacity: 98%;
    position: fixed;
    width: 100%;
    z-index: 99;
    transition: top 0.2s ease-out;
        
  }
.navbar-brand {font-family: var(--primary-font-family);
color: var(--secondary-color) !important;}

.nav-item {color: var(--primary-color) !important;
    font-family: var(--third-font-family);
    }

h1, h3 {color: white;
    font-family: var(--primary-font-family);
    letter-spacing: 0.15em;
    font-size: 72px;
}


p, h2 {color: var(--secondary-color);
    font-family: var(--secondary-font-family);}

p {font-size: 24px !important;}
h2 {font-size: 30px !important;
line-height: 2;}

.container {margin-top: 75px;
    margin-bottom: 50px;}

.contact-me, .appbuttons {background-color: var(--objects-color) !important;
border: none;
border-radius: 2px;
font-family: var(--primary-font-family) ;
font-size: 24px;
color: var(--primary-color) ;
padding: 14px 100px;}

.contact-page :hover,  .web-link :hover{
background-color: #ffffff !important;
}



footer {background-color: var(--objects-color);
font-family: var(--third-font-family);
color: var(--primary-color);
vertical-align: middle;

}

.shecodes {max-width: 140px;}

.linkedin {max-width: 25px;}

@media (max-width: 1000px) {
    h1 {font-size: 42px !important;}
    h2 {font-size: 25px !important;
    line-height: 1.3;}
    .contact-me, .appbuttons {font-size: 18px;
    padding: 14px 70px;}
    p  {font-size: 16px !important;}
}

@media (max-width: 600) {
    h1 {font-size: 28px !important;}
    h2 {font-size: 18px !important;}
    .contact-me, .appbuttons {font-size: 18px;
    padding: 14px 50px;}
    p  {font-size: 16px !important;}
}


h3 {text-align: center;
    font-size: 42px}