/*font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Quicksand', sans-serif;*/

h1 {color: aquamarine;
    font-family: 'Playfair Display', serif}

h2 {color: red;
    font-family: 'Poppins', sans-serif;}
    h3 { font-family: 'Quicksand', sans-serif}